body h1{
    color: blue;
    text-align: center;
    font-family: sans-serif;
}

body p{
    color: blue;
    font-size: 25px;
    font-family: sans-serif;
}

header a{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

header{
    background-color: black;
    padding: 20px;
}

footer{
    background-color: black;
    padding: 20px;
}

footer p{
    color: white;
    font-size: 15px;
}
